* { 
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.primeiraimpressao{
    display: flex;
    border-bottom: 8px solid #222;
    justify-content: center;
}
.logopequena{
    display: flex;
    position: absolute;
    margin-top: 28px;
    margin-right: 1100px;
    z-index: 1;
}
.divbotao{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 28px;
    left: 0;
    right: 56px;
    height: 50px;
    align-content: space-around;
    justify-content: right;
    border: none;
}
.botaoentrar{
    display:flex;
    position: absolute;
    background-color: #e50914;
    color: white;
    padding: 7px 17px;
    font-size: 16px;
    border: none;
    margin-top: 2px;
    z-index: 1;
}
.linguagem{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 28px;
    left: 0;
    right: 165px;
    height: 35px;
    align-content: space-around;
    justify-content: right;
    border: none;
    z-index: 1;
}
select{
    background: transparent;
    color: white;
    font-size: 16px;
    border-color: white;
}
option{
    color: white;
    background-color: gray;
    opacity: 0;
}

.email{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 466px;
    left: 0;
    right: 166px;
    height: 60px;
    align-content: space-around;
    justify-content: center;
    border: none;
    z-index: 1;
}
.mail{
    width: 430px;
}

#gradiente{
    position: absolute;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    width: 100%;
    height: 100%;
}

#eng1{
    display: none;
    font-weight: bold;
    margin-top: 232px;
    max-width: 670px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.text1{
    display: flex;
    font-weight: bold;
    margin-top: 232px;
    max-width: 670px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#pt2{
    display: flex;
    margin-top: 364px;
    max-width: 670px;
    font-size: 1.625rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#eng2{
    display: none;
    margin-top: 364px;
    max-width: 670px;
    font-size: 1.625rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}


#pt3{
    display: flex;
    margin-top: 424px;
    max-width: 670px;
    font-size: 1.125rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#eng3{
    display: none;
    margin-top: 424px;
    max-width: 670px;
    font-size: 1.125rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text4{
    display: flex;
    font-weight: bold;
    margin-right: 838px;
    margin-top: 120px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text5{
    display: flex;
    font-size: 1.625rem;
    margin-right: 696px;
    margin-top: 200px;
    text-align: left;
    color: white;
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text6{
    display: flex;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 90px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text7{
    display: flex;
    font-size: 1.625rem;
    margin-left: 701px;
    margin-top: 230px;
    text-align: left;
    color: white;
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text8{
    display: flex;
    font-weight: bold;
    margin-right: 854px;
    margin-top: 110px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text9{
    display: flex;
    font-size: 1.625rem;
    margin-right: 786px;
    margin-top: 250px;
    text-align: left;
    color: white;
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text10{
    display: flex;
    font-weight: bold;
    margin-left: 641px;
    margin-top: 70px;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text11{
    display: flex;
    font-size: 1.625rem;
    margin-left: 643px;
    margin-top: 210px;
    text-align: left;
    color: white;
    position: absolute;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#text12{
    display: flex;
    font-weight: bold;
    font-size: 3.125rem;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

#text13{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 70px;
    margin-bottom: 25px;
}

.botaovamosla{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 466px;
    left: 810px;
    height: 60px;
    justify-content: center;
    z-index: 1;
}

.vamosla{
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 26px;
    width: 184px;
}

.divisao2{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    background-color: black;
    border-bottom: 8px solid #222;
    height: 470px;
}
.tv{
    position: absolute;
    z-index: 1;
    margin-right: 96px;

}
.video{
    display: flex;
    position: absolute;
    margin-top: 82px;
    margin-right: 170px;
}
.divisao3{
    display: flex;
    background-color: black;
    border-bottom: 8px solid #222;
    padding-top: 30px;
}
.btmobile{
    display: flex;
    background-color: black;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    width: 330px;
    height: 90px;
    position: absolute;
    margin-left: 138px;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}
.film{
    padding-left: 12px;
}
.down{
    padding-right: 10px;
}
.mobile{
    padding-bottom: 60px;
    padding-left: 60px;
}
.divisao4{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    border-bottom: 8px solid #222;
    padding-top: 44px;
}
.apple{
    padding-bottom: 75px;
    padding-right: 73px;
    z-index: 1;
}
.vtapple{
    display: flex;
    position: absolute;
    padding-top: 47px;
    padding-right: 170px;   
}
.divisao5{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 8px solid #222;
    padding-top: 74px;
    padding-left: 60px;
}
.kids{
    padding-bottom: 66px;
    padding-left: 66px;
}

.divisao6{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 8px solid #222;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btndivisao6{
    display: flex;
    background-color: #303030;
    color: white;
    border: solid black 1px;
    width: 820px;
    height: 74px;
    font-size: 26px;
    text-align: left;
    text-indent: 35px;
    align-items: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 3px;
}

.ocult{
    display: none;
    background-color: #303030;
    color: white;
    font-size: 26px;
    width: 824px;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.email2{
    display: flex;
    height: 60px;
    border: none;
}

.mail2{
    width: 430px;
}

.botaovamosla2{
    display: flex;
    height: 60px;
}

.vamosla2{
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 26px;
    width: 184px;
}

#containerdivisao6{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}
